.container {
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .child {
    width: 600px;
    height: 400px;
    background-color: rgba(0, 247, 255, 0.137);
    /* Center vertically */
    position: absolute;
    top: 50%;
  }

  .holder {
      position: absolute;
      align-content: center;
      text-align: center;
  }